body{
    user-select: none;
    align-content: center;
    overflow: hidden;
}

#main{
    background-color: #fa2;
    width:100%;
    height:500px;

}

.colorM{
    background:#000;
}

.form1{
    transform: translate(50px,50px);
}
.form2{
    transform: translate(80px,20px);
}
.form3{
    transform: translate(50px,-20px);
}
.form4{
    transform: translate(110px,-85px);
}

.h{
    width:100px;
    height: 5px;
}
.v{
    width:5px;
    height: 100px;
}

#local{
position:absolute;

}
.fixed{
    position:fixed;
    width: 30px;
    height: 30px;

}

#p1{
background-color: rgba(0,0,200,0.5);
transform: translate(50px,-190px);
}
#p2{
    background-color: rgba(0,0,200,0.5);
    transform: translate(80px,-190px);
    }
    #p3{
        background-color: rgba(0,0,200,0.5);
        transform: translate(110px,-190px);
        }
        #p4{
            background-color: rgba(0,0,200,0.5);
            transform: translate(50px,-155px);
            }
            #p5{
                background-color: rgba(0,0,200,0.5);
                transform: translate(80px,-155px);
                }
                #p6{
                    background-color: rgba(0,0,200,0.5);
                    transform: translate(110px,-155px);
                    }
                    #p7{
                        background-color: rgba(0,0,200,0.5);
                        transform: translate(50px,-120px);
                        }
                        #p8{
                            background-color: rgba(0,0,200,0.5);
                            transform: translate(80px,-120px);
                            }
                            #p9{
                                background-color: rgba(0,0,200,0.5);
                                transform: translate(110px,-120px);
                                }

                                .default_clicker{
                                    font-family: "Roboto", sans-serif;
                                    font-weight: 500;
                                    font-size:40px;
                                    z-index: 10;
                                    position: fixed;
                                    transform:translate(5.5px, -38px);
                                } 
.table{
  color:#f00;
  margin:-500px 0 0 175px;
  position:fixed;
  font-size: 40px;
  border: solid 1px #eee;
   display: flex;
  flex-flow: inline;
  
}
.numberrs{
    display:inline-flex;
    margin-top:0px;
    font-size:45px;
  
  
  
}
